@import 'tailwindcss';


*{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@theme{
  --color-lemongreen:#BEE532;
  --color-graysh:#4F4F4F;
  --color-limegray:#5D6150;
  --color-blackish:#1B1F0E;
}
@layer components{
  .iconheader {
    @apply flex items-center gap-[20px]
  }
  .headertxt{
    @apply text-[20px] text-white  leading-none
  }
  .maindivider{
    @apply flex gap-[20px]
  }
  .halfdivider{
    @apply flex flex-col gap-[16px]
  }

  .navBarhover{
    @apply  w-[0.5625rem] h-[2.0625rem]  bg-lemongreen rounded-r-[0.25rem]
  }

  .navLinkconfig{
    @apply flex gap-[1.375rem] items-center justify-center
  }
}
